<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088855887690-crlht0pt0gha44h9a3vmhvi8f2ook8r6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088855887690-crlht0pt0gha44h9a3vmhvi8f2ook8r6</string>
	<key>API_KEY</key>
	<string>AIzaSyC5w_kssAHsJs0rs1P0Y6d9s9Q9GjN3JGk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088855887690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creative.gotcha.GOTCHA</string>
	<key>PROJECT_ID</key>
	<string>gotcha-98743</string>
	<key>STORAGE_BUCKET</key>
	<string>gotcha-98743.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088855887690:ios:6f1748db25b0c3bfe6fbb3</string>
</dict>
</plist>